<div class="text-center">
      <h1>Administrator Information</h1>
</div>
  <div>
            <table class="table table-bordered" ng-show="req.users.length>0">
              <thead class="thread-inverse">
            <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email Address</th>
                  <th>Phone Number</th>
                  <th>Job Title</th>
              </tr>
            </thead>
              <tbody>
            <tr ng-repeat="user in req.users">
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone }}</td>
                  <td>{{ user.jobTitle }}</td>
              </tr>
            </tbody>
          </table>
    </div>
<div class="text-center">
      <h2>New Administrator</h2>
</div>
<form class="form-horizontal" role="form" name="pantryAdministrationForm">
  <div ng-init="AddFormToScope(pantryAdministrationForm);"></div>
      <div class="row">
        <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                  <label for="firstName" class="col-md-5 control-label">First Name:</label>
                  <div class="col-md-7">
                      <input class="form-control" name="adminFirstNameFormInput" id="firstName" placeholder="First Name" type="text" ng-model="tempAdminUser.firstName" ng-required="CheckDirectorExists(pantryAdministrationForm)">
                    <span class="form-validation-error" ng-show="pantryAdministrationForm.adminFirstNameFormInput.$touched && pantryAdministrationForm.adminFirstNameFormInput.$invalid">First name is required.</span>
                  </div>
              </div>
        </div>
        <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                  <label for="lastName" class="col-md-5 control-label">Last Name:</label>
                  <div class="col-md-7">
                      <input class="form-control" name="adminLastNameFormInput" id="lastName" placeholder="Last Name" type="text" ng-model="tempAdminUser.lastName" ng-required="CheckDirectorExists(pantryAdministrationForm)">
                    <span class="form-validation-error" ng-show="pantryAdministrationForm.adminLastNameFormInput.$touched && pantryAdministrationForm.adminLastNameFormInput.$invalid">Last name is required.</span>
                  </div>
              </div>
          </div>
        <div class="col-sm-6 col-lg-12">
          <div class="form-group">
            <label for="jobTitle" class="col-md-5 control-label">Title:</label>
            <div class="col-md-7">
              <input class="form-control" name="adminTitleFormInput" id="jobTitle" placeholder="Job Title" type="text" ng-model="tempAdminUser.jobTitle" ng-required="CheckDirectorExists(pantryAdministrationForm)">
              <span class="form-validation-error" ng-show="pantryAdministrationForm.adminTitleFormInput.$touched && pantryAdministrationForm.adminTitleFormInput.$invalid">Title is required.</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                  <label for="phone" class="col-md-5 control-label">Phone Number:</label>
                  <div class="col-md-7">
                      <input class="form-control" name="adminPhoneFormInput" id="phone" placeholder="Phone Number" type="number" ng-model="tempAdminUser.phone" ng-required="CheckDirectorExists(pantryAdministrationForm)">
                    <span class="form-validation-error" ng-show="pantryAdministrationForm.adminPhoneFormInput.$touched && pantryAdministrationForm.adminPhoneFormInput.$invalid">Phone number is required.</span>
                  </div>
              </div>
          </div>
        <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                  <label for="email" class="col-md-5 control-label">Email Address:</label>
                  <div class="col-md-7">
                      <input class="form-control" name="adminEmailFormInput" id="email" placeholder="Email Address" type="email" ng-model="tempAdminUser.email" ng-pattern="emailPattern" ng-required="CheckDirectorExists(pantryAdministrationForm)">
                    <span class="form-validation-error" ng-show="pantryAdministrationForm.adminEmailFormInput.$touched && pantryAdministrationForm.adminEmailFormInput.$invalid">Email is required.</span>
                  </div>
              </div>
        </div>
        <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                  <label for="password1" class="col-md-5 control-label">Desired Password:</label>
                  <div class="col-md-7">
                    <input ng-show="showpassword1" id="password1" placeholder="Desired Password" type="text" ng-model="password1">
                    <input ng-hide="showpassword1" placeholder="Desired Password" type="password" ng-model="password1">
                    <input type="checkbox" id="showpassword1" ng-model="showpassword1" ng-checked="false">
                    <label for="showpassword1">Show Password</label>
                  </div>
              </div>
          </div>
        <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                  <label for="password2" class="col-md-5 control-label">Re-Enter Password:</label>
                  <div class="col-md-7">
                    <input ng-show="showpassword2" id="password2" placeholder="Re-Enter Password" type="text" ng-model="password2">
                    <input ng-hide="showpassword2" placeholder="Desired Password" type="password" ng-model="password2">
                    <input type="checkbox" id="showpassword2" ng-model="showpassword2" ng-checked="false">
                    <label for="showpassword2">Show Password</label>
                  </div>
              </div>
          </div>
      </div>

    <div class="col-md-7">
      <button class="btn btn-primary btn-sm" ng-click="addDirector(pantryAdministrationForm)">Add Director</button>
      <button class="btn btn-primary btn-sm" ng-click="next(pantryAdministrationForm)" ng-show="currentIndex < pages.length-1">Next</button>
    </div>
  </form>
