<div class="text-center">
  <h1>Household Creation Confirmation</h1>
</div>
<div class="text-center">
  <h2>{{yourName}} Household Information</h2>
</div>
<div class="form-horizontal" role="form" name="householdCreateForm">
  <div class="row">
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="PhysicalAddress" class="col-md-5 control-label">Physical Address:</label>
        <div class="col-md-7">
          <input class="form-control" id="PhysicalAddress" placeholder="Address" type="text" ng-model="req.household.physicalAddress.line1" ng-readonly="isReadOnly" >
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddressLine2" class="col-md-5 control-label"></label>
          <div class="col-md-7">
            <input class="form-control" name="householdAddressFormInput2" id="physicalAddressLine2" placeholder="" type="text" ng-model="req.household.physicalAddress.line2" ng-readonly="isReadOnly">
            <span class="form-validation-error" ng-show="householdCreateForm.householdAddressFormInput2.$touched && householdCreateForm.householdAddressFormInput2.$invalid">Address is required.</span>
          </div>
        </div>
      </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="City" class="col-md-5 control-label">City:</label>
        <div class="col-md-7">
          <input class="form-control" id="City" placeholder="City" type="text" ng-model="req.household.physicalAddress.city" ng-readonly="isReadOnly">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="state" class="col-md-5 control-label">State:</label>
        <div class="col-md-7">
          <select class="form-control" id="state" ng-model="req.household.physicalAddress.state" ng-readonly="isReadOnly">
            <option></option>
            <option value="AK">AK - Alaska</option>
            <option value="AL">AL - Alabama</option>
            <option value="AR">AR - Arkansas</option>
            <option value="AZ">AZ - Arizona</option>
            <option value="CA">CA - California</option>
            <option value="CO">CO - Colorado</option>
            <option value="CT">CT - Connecticut</option>
            <option value="DC">DC - District of Columbia</option>
            <option value="DE">DE - Delaware</option>
            <option value="FL">FL - Florida</option>
            <option value="GA">GA - Georgia</option>
            <option value="HI">HI - Hawaii</option>
            <option value="IA">IA - Iowa</option>
            <option value="ID">ID - Idaho</option>
            <option value="IL">IL - Illinois</option>
            <option value="IN">IN - Indiana</option>
            <option value="KS">KS - Kansas</option>
            <option value="KY">KY - Kentucky</option>
            <option value="LA">LA - Louisiana</option>
            <option value="MA">MA - Massachusetts</option>
            <option value="MD">MD - Maryland</option>
            <option value="ME">ME - Maine</option>
            <option value="MI">MI - Michigan</option>
            <option value="MN">MN - Minnesota</option>
            <option value="MO">MO - Missouri</option>
            <option value="MS">MS - Mississippi</option>
            <option value="MT">MT - Montana</option>
            <option value="NC">NC - North Carolina</option>
            <option value="ND">ND - North Dakota</option>
            <option value="NE">NE - Nebraska</option>
            <option value="NH">NH - New Hampshire</option>
            <option value="NJ">NJ - New Jersey</option>
            <option value="NM">NM - New Mexico</option>
            <option value="NV">NV - Nevada</option>
            <option value="NY">NY - New York</option>
            <option value="OH">OH - Ohio</option>
            <option value="OK">OK - Oklahoma</option>
            <option value="OR">OR - Oregon</option>
            <option value="PA">PA - Pennsylvania</option>
            <option value="RI">RI - Rhode Island</option>
            <option value="SC">SC - South Carolina</option>
            <option value="SD">SD - South Dakota</option>
            <option value="TN">TN - Tennessee</option>
            <option value="TX">TX - Texas</option>
            <option value="UT">UT - Utah</option>
            <option value="VA">VA - Virginia</option>
            <option value="VT">VT - Vermont</option>
            <option value="WA">WA - Washington</option>
            <option value="WI">WI - Wisconsin</option>
            <option value="WV">WV - West Virginia</option>
            <option value="WY">WY - Wyoming</option>
            <option value="AS">AS - American Samoa</option>
            <option value="FM">FM - Federated States of Micronesia</option>
            <option value="GU">GU - Guam</option>
            <option value="MH">MH - Marshall Islands</option>
            <option value="MP">MP - Northern Mariana Islands</option>
            <option value="PR">PR - Puerto Rico</option>
            <option value="PW">PW - Palau</option>
            <option value="VI">VI - Virgin Islands</option>
            <option value="AA">AA - Armed Forces Americas</option>
            <option value="AE">AE - Armed Forces</option>
            <option value="AP">AP - Armed Forces Pacific</option>
            <option value="AB">AB - Alberta</option>
            <option value="BC">BC - British Columbia</option>
            <option value="MB">MB - Manitoba</option>
            <option value="NB">NB - New Brunswick</option>
            <option value="NL">NL - Newfoundland and Labrador</option>
            <option value="NS">NS - Nova Scotia</option>
            <option value="NT">NT - Northwest Territories</option>
            <option value="NU">NU - Nunavut</option>
            <option value="ON">ON - Ontario</option>
            <option value="PE">PE - Prince Edward Island</option>
            <option value="QC">QC - Quebec</option>
            <option value="SK">SK - Saskatchewan</option>
            <option value="YT">YT - Yukon</option>
            <option value="None">None</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="physicalAddressZip" class="col-md-5 control-label">Zip code:</label>
        <div class="col-md-7">
          <input class="form-control" id="input7" placeholder="Zip code" type="text" ng-model="req.household.physicalAddress.zip" ng-readonly="isReadOnly" >
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="ValidationDate" class="col-md-5 control-label">Validation Date:</label>
          <div class="col-md-7">
            <input class="form-control" name="validationDate" id="ValidationDate" placeholder="" type="date" ng-model="req.household.validationDate" ng-readonly="isReadOnly">
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="ValidationType" class="col-md-5 control-label">Validation Type:</label>
          <div class="col-md-7">
            <select class="form-control" name="validationType" id="ValidationType" ng-model="req.household.validationType" ng-readonly=isReadOnly>
              <option></option>
              <option value="Driving License">Driving license</option>
              <option value="Physical mail">Physical mail </option>
              <option value="Rental agreement">Rental agreement </option>
              <option value="Utility bill">Utility bill</option>
            </select>
          </div>
        </div>
      </div>
    <div>
    <table class="table table-bordered" ng-show="req.members.length > 0" ng-readonly="isReadOnly">
      <thead class="thread-inverse">
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Member Type</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Validation Date</th>
        <th>Validation Type</th>

      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="member in req.members">
        <td>{{ member.firstName }}</td>
        <td>{{ member.middleName }}</td>
        <td>{{ member.lastName }}</td>
        <td>{{ member.memberType }}</td>
        <td>{{ member.birthday }}</td>
        <td>{{ member.gender }}</td>
        <td>{{ member.validationDate }}</td>
        <td>{{ member.validationType }}</td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group">
      <button ng-click="createHousehold()" class="btn-primary">Sign Up</button>
      <button class="btn-primary">Cancel</button>
    </div>
  </div>
</div>

