<div class="col-xs-12 col-sm-10 content">
  <div class="text-center">
    <h1>New Household</h1>
  </div>

  <form class="form-horizontal" role="form" name="householdCreateForm">
    <div ng-init="AddFormToScope(householdCreateForm);"></div>
    <div class="row">
      <div class="text-left">
      </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddress" class="col-md-5 control-label">Physical Address:</label>
          <div class="col-md-9">
            <input class="form-control" name="householdAddressFormInput" id="physicalAddress" placeholder="" type="text" ng-model="req.household.physicalAddress.line1" required>
            <span class="form-validation-error" ng-show="householdCreateForm.householdAddressFormInput.$touched && householdCreateForm.householdAddressFormInput.$invalid">Address is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddressUnit" class="col-md-5 control-label">Physical Address Unit:</label>
          <div class="col-md-9">
            <input class="form-control" name="householdAddressFormInput" id="physicalAddressUnit" placeholder="" type="text" ng-model="req.household.physicalAddress.line2" required>
            <span class="form-validation-error" ng-show="householdCreateForm.householdAddressFormInput.$touched && householdCreateForm.householdAddressFormInput.$invalid">Address is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddressCity" class="col-md-5 control-label">City:</label>
          <div class="col-md-9">
            <input class="form-control" name="householdCityFormInput" id="physicalAddressCity" placeholder="" type="text" ng-model="req.household.physicalAddress.city" required>
            <span class="form-validation-error" ng-show="householdCreateForm.householdCityFormInput.$touched && householdCreateForm.householdCityFormInput.$invalid">City is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddressState" class="col-md-5 control-label">State:</label>
          <div class="col-md-9">
            <select class="form-control" name="householdStateFormInput" id="physicalAddressState" ng-model="req.household.physicalAddress.state" required>
              <option></option>
              <option value="AK">AK</option>
              <option value="AL">AL</option>
              <option value="AR">AR</option>
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VA">VA</option>
              <option value="VT">VT</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>
              <option value="WV">WV</option>
              <option value="WY">WY</option>
              <option value="AS">AS</option>
              <option value="FM">FM</option>
              <option value="GU">GU</option>
              <option value="MH">MH</option>
              <option value="MP">MP</option>
              <option value="PR">PR</option>
              <option value="PW">PW</option>
              <option value="VI">VI</option>
              <option value="AA">AA</option>
              <option value="AE">AE</option>
              <option value="AP">AP</option>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="MB">MB</option>
              <option value="NB">NB</option>
              <option value="NL">NL</option>
              <option value="NS">NS</option>
              <option value="NT">NT</option>
              <option value="NU">NU</option>
              <option value="ON">ON</option>
              <option value="PE">PE</option>
              <option value="QC">QC</option>
              <option value="SK">SK</option>
              <option value="YT">YT</option>
            </select>
            <span class="form-validation-error" ng-show="householdCreateForm.householdStateFormInput.$touched && householdCreateForm.householdStateFormInput.$invalid">State is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddressZip" class="col-md-5 control-label">Zip Code:</label>
          <div class="col-md-9">
            <input class="form-control" name="householdZipFormInput" id="physicalAddressZip" placeholder="" type="number" ng-model="req.household.physicalAddress.zip" required>
            <span class="form-validation-error" ng-show="householdCreateForm.householdZipFormInput.$touched && householdCreateForm.householdZipFormInput.$invalid">Zipcode is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="addressValidationDate" class="col-md-5 control-label">Validation Date:</label>
          <div class="col-md-9">
            <input class="form-control" name="validationDate" id="addressValidationDate" placeholder="" type="date" ng-model="validationDate" required>
            <span class="form-validation-error" ng-show="householdCreateForm.validationDate.$touched && householdCreateForm.validationDate.$invalid">Validation Date is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="addressValidationType" class="col-md-5 control-label">Validation Type:</label>
          <div class="col-md-9">
            <select class="form-control" name="validationType" id="addressValidationType" ng-model="req.household.validationType" required>
              <option></option>
              <option value="Driving License">Driving license</option>
              <option value="Physical mail">Physical mail </option>
              <option value="Rental agreement">Rental agreement </option>
              <option value="Utility bill">Utility bill</option>
            </select>
            <span class="form-validation-error" ng-show="householdCreateForm.validationType.$touched && householdCreateForm.validationType.$invalid">Validation Type is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="transportationType" class="col-md-5 control-label">Transportation:</label>
          <div class="col-md-9">
            <select class="form-control" name="transportationType" id="transportationType" ng-model="req.household.transportationType" required>
              <option></option>
              <option value="By Bus">By Bus</option>
              <option value="By Car">By Car</option>
              <option value="On Foot">On Foot</option>
             </select>
            <span class="form-validation-error" ng-show="householdCreateForm.validationType.$touched && householdCreateForm.validationType.$invalid">Validation Type is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="hudCategory" class="col-md-5 control-label">Hud:</label>
          <div class="col-md-9">
            <select class="form-control" name="hudCategory" id="hudCategory" ng-model="req.household.hudCategory" required>
              <option></option>
              <option value="Extremely Low">Extremely Low</option>
              <option value="Very Low">Very Low</option>
              <option value="Low">Low</option>
              <option value="Moderate">Moderate</option>
            </select>
            <span class="form-validation-error" ng-show="householdCreateForm.validationType.$touched && householdCreateForm.hud.$invalid">hud is required.</span>
            </div>
        </div>
      </div>
        <div class="col-sm-offset-3 col-lg-12">
          <div class="form-group">
            <input type="checkbox" name="isInCityLimits" id="isInCityLimits" ng-model="req.household.isInCityLimits">
            <label for="isInCityLimits">In City Limits</label>
            <input type="checkbox" name="isHomeless" id="isHomeless" ng-model="req.household.isHomeless">
            <label for="isHomeless">Homeless</label>
            <input type="checkbox" name="isCommoditiesEligible" id="isCommoditiesEligible" ng-model="req.household.isCommoditiesEligible">
            <label for="isCommoditiesEligible">Commodities Eligible</label>

            </div>
          </div>
    <div class="col-sm-offset-3 col-lg-12">
      <div class="form-group">
        <input type="checkbox" name="isSingleParentHousehold" id="isSingleParentHousehold" ng-model="req.household.isSingleParentHousehold">
        <label for="isSingleParentHousehold">Single Parent Household</label>
        <input type="checkbox" name="eligibleForBabyService" id="eligibleForBabyService" ng-model="req.household.eligibleForBabyService">
        <label for="eligibleForBabyService">Eligible for baby services</label>
      </div>
    </div>
  </form>
  <button class="btn btn-primary btn-sm" data-ng-click="next(householdCreateForm)" ng-show="currentIndex < pages.length-1">Next</button>
</div>

