<div class="col-xs-12 col-sm-10 content">
  <div class="text-left">
    <h1>New Household Member</h1>
  </div>
  <div>
    <table class="table table-bordered" ng-show="req.members.length > 0">
      <thead class="thread-inverse">
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Member Type</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Validation Date</th>
        <th>Validation Type</th>

      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="member in req.members">
        <td>{{ member.firstName }}</td>
        <td>{{ member.middleName }}</td>
        <td>{{ member.lastName }}</td>
        <td>{{ member.memberType }}</td>
        <td>{{ member.email }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.birthday }}</td>
        <td>{{ member.gender }}</td>
        <td>{{ member.validationDate }}</td>
        <td>{{ member.validationType }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <form class="form-horizontal" role="form" name="householdMemberForm">
    <div ng-init="AddFormToScope(householdMemberForm);"></div>
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="firstName" class="col-md-5 control-label">First Name:</label>
          <div class="col-md-7">
            <input class="form-control" name="memberFirstNameFormInput" id="firstName" placeholder="" type="text" ng-model="tempMember.firstName" ng-required="CheckMemberExists(householdMemberForm)">
            <span class="form-validation-error" ng-show="householdMemberForm.memberFirstNameFormInput.$touched && householdMemberForm.memberFirstNameFormInput.$invalid">First name is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="middleName" class="col-md-5 control-label">Middle Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="middleName" placeholder="" type="text" ng-model="tempMember.middleName">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="lastName" class="col-md-5 control-label">Last Name:</label>
          <div class="col-md-7">
            <input class="form-control" name="memberLastNameFormInput" id="lastName" placeholder="" type="text" ng-model="tempMember.lastName" ng-required="CheckMemberExists(householdMemberForm)">
            <span class="form-validation-error" ng-show="householdMemberForm.memberLastNameFormInput.$touched && householdMemberForm.memberLastNameFormInput.$invalid">Last name is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="email" class="col-md-5 control-label">Email:</label>
          <div class="col-md-7">
            <input class="form-control" name="memberEmailFormInput" id="email" placeholder="" type="email" ng-model="tempMember.email" >
            <span class="form-validation-error" ng-show="householdMemberForm.memberEmailFormInput.$touched && householdMemberForm.memberEmailFormInput.$invalid">Email is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-lg-12">
        <div class="form-group">
          <label for="phone" class="col-md-5 control-label">Phone Number:</label>
          <div class="col-md-7">
            <input class="form-control" name="memberPhoneNumberFormInput" id="phone" placeholder="" type="number" ng-model="tempMember.phone" >
            <span class="form-validation-error" ng-show="householdMemberForm.memberPhoneNumberFormInput.$touched && householdMemberForm.memberPhoneNumberFormInput.$invalid">Phone Number is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="birthday" class="col-md-5 control-label">Birthday/Age:</label>
          <div class="col-md-7">
            <input class="form-control" name="memberBirthdayFormInput" id="birthday" placeholder="" type="date" ng-model="tempMember.birthday" ng-required="CheckMemberExists(householdMemberForm)">
            <span class="form-validation-error" ng-show="householdMemberForm.memberBirthdayFormInput.$touched && householdMemberForm.memberBirthdayFormInput.$invalid">Birthday is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
         <div class="form-group">
           <label for="gender" class="col-md-5 control-label">Gender:</label>
           <div class="col-md-7">
             <select class="form-control" name="memberGenderFormInput" id="gender" ng-model="tempMember.gender" ng-required="CheckMemberExists(householdMemberForm)">
               <option></option>
               <option value="Male">Male</option>
               <option value="Female">Female</option>
               <option value="Other">Other</option>
             </select>
             <span class="form-validation-error" ng-show="householdMemberForm.memberGenderFormInput.$touched && householdMemberForm.memberGenderFormInput.$invalid">Gender is required.</span>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="memberType" class="col-md-5 control-label">Member Type:</label>
          <div class="col-md-7">
            <select class="form-control" name="memberTypeFormInput" id="memberType" ng-model="tempMember.memberType" >
              <option></option>
              <option value="headOfHousehold">Head of Household</option>
              <option value="householdMember">Household Member</option>
            </select>
            <span class="form-validation-error" ng-show="householdMemberForm.memberTypeFormInput.$touched && householdMemberForm.memberTypeFormInput.$invalid">Member type is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="validationDate" class="col-md-5 control-label">Validation Date:</label>
          <div class="col-md-7">
            <input class="form-control" name="memberValidationDateFormInput" id="validationDate" placeholder="" type="date" ng-model="tempMember.validationDate" >
            <span class="form-validation-error" ng-show="householdMemberForm.memberValidationDateFormInput.$touched && householdMemberForm.memberValidationDateFormInput.$invalid">Member validation date is required.</span>
          </div>
        </div>
      </div>
        <div class="col-sm-6 col-lg-12">
          <div class="form-group">
            <label for="validationType" class="col-md-5 control-label">Validation Type</label>
            <div class="col-md-7">
              <select class="form-control" name="memberValidationTypeFormInput" id="validationType" ng-model="tempMember.validationType" >
                <option></option>
                <option value="Driving License">Birth certificate </option>
                <option value="Physical mail">Driver's license  </option>
                <option value="Rental agreement">ID Card </option>
                <option value="Utility bill">Passport</option>
              </select>
              <span class="form-validation-error" ng-show="householdMemberForm.memberValidationTypeFormInput.$touched && householdMemberForm.memberValidationTypeFormInput.$invalid">Member validation type is required.</span>
            </div>
          </div>
        </div>
        <div class="btn-group2">
          <p>
            <input type="checkbox" name="isDisabled" id="isDisabled" value="value" ng-model="tempMember.isDisabled">
            <label for="isDisabled">Disabled</label>
            <input type="checkbox" name="isHispanic" id="isHispanic" value="value" ng-model="tempMember.isHispanic">
            <label for="isHispanic">Hispanic</label>
            <input type="checkbox" name="isSpecialNeeds" id="isSpecialNeeds" value="value" ng-model="tempMember.isSpecialNeeds">
            <label for="isSpecialNeeds">Special needs</label>
          </p>
        </div>
      </div>
    <div class="col-md-7">
      <button class="btn btn-primary btn-sm" ng-click="addHouseholdMember(householdMemberForm)">Add Member</button>
      <button class="btn btn-primary btn-sm" data-ng-click="next(householdMemberForm)" ng-show="currentIndex < pages.length-1">Next</button>
      <button class="btn btn-primary btn-sm" ng-click="previous()" ng-show="currentIndex < pages.length+1">Back</button>
    </div>
  </form>
</div>

