<div class="col-xs-12 col-sm-10 content">
  <div class="text-left">
    <h1>New Household Member</h1>
  </div>
  <div>
    <table class="table table-bordered" ng-show="req.users.length>0">
      <thead class="thread-inverse">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Middle Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Member Type</th>
        <th>Validation Date</th>
        <th>Validation Type</th>

      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in req.users">
        <td>{{ user.MemberFirstName }}</td>
        <td>{{ user.MemberMiddleName }}</td>
        <td>{{ user.MemberLastName }}</td>
        <td>{{ user.MemberEmail }}</td>
        <td>{{ user.MemberPhoneNumber }}</td>
        <td>{{ user.MemberBirthday }}</td>
        <td>{{ user.MemberGender }}</td>
        <td>{{ user.MemberType }}</td>
        <td>{{ user.ValidationDate }}</td>
        <td>{{ user.ValidationType }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <form class="form-horizontal" role="form">
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="MemberFirstName" class="col-md-5 control-label">First Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="MemberFirstName" placeholder="" type="text" ng-model="tempHousehold.MemberFirstName">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="MemberMiddleName" class="col-md-5 control-label">Middle Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="MemberMiddleName" placeholder="" type="text" ng-model="tempHousehold.MemberMiddleName">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="MemberLastName" class="col-md-5 control-label">Last Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="MemberLastName" placeholder="" type="text" ng-model="tempHousehold.MemberLastName">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="MemberEmail" class="col-md-5 control-label">Email:</label>
          <div class="col-md-7">
            <input class="form-control" id="MemberEmail" placeholder="" type="email" ng-model="tempHousehold.MemberEmail">
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-lg-12">
        <div class="form-group">
          <label for="MemberPhoneNumber" class="col-md-5 control-label">Phone Number:</label>
          <div class="col-md-7">
            <input class="form-control" id="MemberPhoneNumber" placeholder="" type="number" ng-model="tempHousehold.MemberPhoneNumber">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="MemberBirthday" class="col-md-5 control-label">Birthday/Age:</label>
          <div class="col-md-7">
            <input class="form-control" id="MemberBirthday" placeholder="" type="DATE" ng-model="tempHousehold.MemberBirthday">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
         <div class="form-group">
           <label for="MemberGender" class="col-md-5 control-label">Gender:</label>
           <div class="col-md-7">
             <select class="form-control" id="MemberGender" ng-model="tempHousehold.MemberGender">
               <option></option>
               <option value="Male">Male</option>
               <option value="Female">Female</option>
               <option value="Other">Female</option>
             </select>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="MemberType" class="col-md-5 control-label">Member Type:</label>
          <div class="col-md-7">
            <select class="form-control" id="MemberType" ng-model="tempHousehold.MemberType">
              <option></option>
              <option value="Head of Household">Head of Household</option>
              <option value="HouseholdMember">HouseholdMember</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="ValidationDate" class="col-md-5 control-label">Validation Date:</label>
          <div class="col-md-7">
            <input class="form-control" id="ValidationDate" placeholder="" type="text" ng-model="tempHousehold.ValidationDate">
          </div>
        </div>
      </div>
        <div class="col-sm-6 col-lg-12">
          <div class="form-group">
            <label for="ValidationType" class="col-md-5 control-label">Validation Type</label>
            <div class="col-md-7">
              <select class="form-control" id="ValidationType" ng-model="tempHousehold.ValidationType">
                <option></option>
                <option value="Driving License">Birth certificate </option>
                <option value="Physical mail">Driver's license  </option>
                <option value="Rental agreement">ID Card </option>
                <option value="Utility bill">Passport</option>
              </select>
            </div>
          </div>
        </div>
        <div class="btn-group2">
          <p>
            <input type="checkbox" name="checkbox" id="checkbox_id1" value="value">
            <label for="checkbox_id1">Disabled</label>
            <input type="checkbox" name="checkbox" id="checkbox_id2" value="value">
            <label for="checkbox_id2">Hispanic</label>
            <input type="checkbox" name="checkbox" id="checkbox_id3" value="value">
            <label for="checkbox_id3">Special needs</label>
          </p>
        </div>
      </div>
    <div class="col-md-7">
      <button class="btn btn-primary btn-sm" ng-click="addHouseholdMember()">Add Member</button>
    </div>
    <div class="col-md-9">
      <button class="btn btn-primary btn-sm" ng-click="previous()" ng-show="currentIndex < pages.length+1">Back</button>
    </div>
  </form>
</div>

