<table class="table table-striped">
            <thead class="thread-inverse">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>(123)-456-7898</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>(567)-678-3456</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>(234)-458-5900</td>
            </tr>

            </tbody>
        </table>

<div class="text-center">
    <h2>New Director</h2>
</div>
<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-sm-6 col-lg-9">
            <div class="form-group">
                <label for="input title" class="col-md-5 control-label">Food Pantry Name:</label>
                <div class="col-md-7">
                    <input class="form-control" id="Input title" placeholder="Title:" type="text">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="form-group">
                <label for="inputLabel2" class="col-md-5 control-label">Friendly Name:</label>
                <div class="col-md-7">
                    <input class="form-control" id="inputLabel2" placeholder="First Name:" type="text">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="form-group">
                <label for="inputLabel3" class="col-md-5 control-label">Physical Address:</label>
                <div class="col-md-7">
                    <input class="form-control" id="inputLabel3" placeholder="Last name:" type="text">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="form-group">
                <label for="inputLabel4" class="col-md-5 control-label">Mailing Address:</label>
                <div class="col-md-7">
                    <input class="form-control" id="inputLabel4" placeholder="Phone Number" type="text">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="form-group">
                <label for="input5" class="col-md-5 control-label">City:</label>
                <div class="col-md-7">
                    <input class="form-control" id="input5" placeholder="Email Address" type="text">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="form-group">
                <label for="input6" class="col-md-5 control-label">State:</label>
                <div class="col-md-7">
                    <input class="form-control" id="input6" placeholder="Desired Password" type="text">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-9">
            <div class="form-group">
                <label for="input7" class="col-md-5 control-label">Zip code:</label>
                <div class="col-md-7">
                    <input class="form-control" id="input7" placeholder="Re-Enter Password" type="text">
                </div>
            </div>
        </div>

    </div><!-- /.row this actually does not appear to be needed with the form-horizontal -->
</form>
</div>
