<div class="col-xs-12 col-sm-9 content">
      <div class="text-left">
        <h1>Household Member Info</h1>
      </div>
      <form class="form-horizontal" role="form">
        <div class="column">
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 1" class="col-md-5 control-label">First ame:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 1" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 2" class="col-md-5 control-label">Last Name:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 2" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 3" class="col-md-5 control-label">ID:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 3" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 4" class="col-md-5 control-label">Email:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 4" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 5" class="col-md-5 control-label">Date of Birth:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 5" placeholder="" type="date">
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 6" class="col-md-5 control-label">Gender:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 6" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 7" class="col-md-5 control-label">Member type:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 7" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 8" class="col-md-5 control-label">Phone number:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 8" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-5">
            <div class="form-group">
              <label for="input 9" class="col-md-5 control-label">ID Validation:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 9" placeholder="" type="text">
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
</div>

  <div class="btn-group">
        <p>
          <input type="checkbox" name="checkbox" id="checkbox_id" value="value">
          <label for="checkbox_id">Disabled</label>
          <input type="checkbox" name="checkbox" id="checkbox_id" value="value">
          <label for="checkbox_id">Hispanic</label
          <input type="checkbox" name="checkbox" id="checkbox_id" value="value">
          <label for="checkbox_id">Special needs</label
        </p>
      <p>
      <button class="btn-primary">Cancel</button>
      <button class="btn-primary">Save</button>
      <button class="btn-primary">Change</button>
      </p>
    </div>
</div>
</body>
