<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PantryExpress</a>



        </div>
        <form class="navbar-form navbar-left">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <button type="button" class="btn btn-default">Home</button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Client Services <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Food Donation <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reporting <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-default">Admin</button>
            </form>
        </div>

        </nav>
  </div>

</header>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2" >
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="Index.html">Food Information</a></li>
                    <li><a href="../Modules/Pantry/Views/DirectorInformation.html">Director Information</a></li>
                    <li><a href="../Modules/Pantry/Views/PaymentMethod.html">Payment Method</a></li>
                    <li><a href="../Modules/Pantry/Views/Confirmation.html">Confirmation</a></li>
                </ul>
            </div>

    </div>
        <div class="col-xs-12 col-sm-9 content">


            <div class="text-center">
                <h1>Food Pantry Information</h1>
            </div>

            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-sm-6 col-lg-9">
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-5 control-label">Food Pantry Name:</label>
                            <div class="col-md-7">
                                <input class="form-control" id="inputEmail" placeholder="Food Pantry Name" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-5 control-label">Friendly Name:</label>
                            <div class="col-md-7">
                                <input class="form-control" id="inputPassword" placeholder="Friendly Name" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        <div class="form-group">
                            <label for="inputLabel3" class="col-md-5 control-label">Physical Address:</label>
                            <div class="col-md-7">
                                <input class="form-control" id="inputLabel3" placeholder="Address" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        <div class="form-group">
                            <label for="inputLabel4" class="col-md-5 control-label">Mailing Address:</label>
                            <div class="col-md-7">
                                <input class="form-control" id="inputLabel4" placeholder="Address" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        <div class="form-group">
                            <label for="input5" class="col-md-5 control-label">City:</label>
                            <div class="col-md-7">
                                <input class="form-control" id="input5" placeholder="City" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        <div class="form-group">
                            <label for="input6" class="col-md-5 control-label">State:</label>
                            <div class="col-md-7">
                                <input class="form-control" id="input6" placeholder="State" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        <div class="form-group">
                            <label for="input7" class="col-md-5 control-label">Zip code:</label>
                            <div class="col-md-7">
                                <input class="form-control" id="input7" placeholder="Zip code" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        <div class="form-group">
                            <label for="input8" class="col-md-5 control-label">Email Address:</label>
                            <div class="col-md-7">
                                <input class="form-control" id="input8" placeholder="Email" type="Email">
                            </div>
                        </div>
                    </div>

                </div><!-- /.row this actually does not appear to be needed with the form-horizontal -->
            </form>
            <div class="col-sm-8 col-lg-9">
                <div class="form-group">

                    <div class="col-md-7">
                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                    </div>
                </div>
            </div>


                </div>

    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
