<div class="jumbotron">
  <h1>Pantry Express!</h1>
  <p class="lead">
    Homepage content to come ..<br><br>

    Please check out the  <a href="#/signup">signup</a> routes/views for current example...
    <a id="houseHoldLinkId" href="#/households">households</a>
  </p>
  <p><a class="btn btn-lg btn-success" id="spendedId" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h3>Friendly Reminders</h3>
  <h4>Please use Yeoman to generate new routes, views, directives, etc.</h4>
  <p>
    <a href="https://github.com/yeoman/generator-angular" target="_blank">Yeoman Angular Generator Docs</a>
  </p>

  <h4>Run "Grunt serve" for live preview and editing</h4>
  <p>
    The page will automatically update and pick up any changes once saved to disk.
  </p>

  <h4>Run "Grunt" before pushing to the Git repo</h4>
  <p>
    This will check for syntax issues, run any local tests defined under the "test" directory, and ensure the build will pass.
  </p>
</div>
