<form class="navbar-form navbar-left">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <button type="button" class="btn btn-default">Home</button>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Client Services
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/households">Find household</a></li>
      <li><a href="#/households">Household Management</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Food Donation
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/donor">Find Donor</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reporting
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-default">Admin</button>
</form>
<form class="navbar-form navbar-right" ng-controller="LoginCtrl" id="loginController">
  <div class="navbar-brand">
       <span ng-if="loggedin">Welcome, {{user.name}}
         <a href=javascript:angular.element(document.getElementById('loginController')).scope().logout()>logout</a></span>
  </div>
</form>
