<form class="navbar-form navbar-left">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <button type="button" class="btn btn-default">Home</button>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Client Services
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/household">Household Management</a></li>
      <li><a href="#/client">Client Management</a></li>
      <li><a href="#service">New Service</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Food Donation
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/donor">Find Donor</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reporting
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-default">Admin</button>
</form>
