<form class="navbar-form navbar-left">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <a href="#/"><button type="button" class="btn btn-default">Home</button></a>
  <div class="btn-group">
    <button type="button" id="clientServiceDropDoenToggleId" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Client Services
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/households">Find Household</a></li>
      <li><a id="newhouseholdLinkId" href="#/households/create">New Household</a></li>
      </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Food Donation
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/">Find Donor</a></li>
      <li><a href="#/">New Donor</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reporting
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/">View Report</a></li>
      <li><a href="#/">New Report</a></li>
    </ul>
  </div>
  <a href="#/"><button type="button" class="btn btn-default">Admin</button></a>
</form>
<form class="navbar-form navbar-right" ng-controller="LoginCtrl" id="loginController">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ selectedPantry.name }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="pantrySelected" ng-model="pantrySelected">
        <li ng-repeat="item in pantries.items| orderBy:'name'" value="{{ item.id }}"><a href="#/" ng-click="setSelectedPantry(item)">{{ item.name }}</a></li>
      </ul>
    </div>
       <span ng-if="loggedin" class="nav-header-color">Welcome, {{user.name}}
         <a href=javascript:angular.element(document.getElementById('loginController')).scope().logout()>Logout</a></span>
</form>
