<div class="col-xs-12 col-sm-9 content">
          <div class="text-center">
              <h1>New Donation</h1>
          </div>
          <form class="form-horizontal" role="form">
              <div class="row">
                  <div class="col-sm-6 col-lg-9">
                      <div class="form-group">
                          <label for="inputLabel2" class="col-md-5 control-label">Date:</label>
                          <div class="col-md-7">
                              <input class="form-control" id="inputLabel2" placeholder="" type="text">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-9">
                      <div class="form-group">
                          <label for="inputLabel3" class="col-md-5 control-label">Funding Source:</label>
                          <div class="col-md-7">
                              <input class="form-control" id="inputLabel3" placeholder="" type="text">
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-6 col-lg-9">
                      <div class="form-group">
                          <label for="input4" class="col-md-5 control-label">Food Type:</label>
                          <div class="col-md-7">
                              <input class="form-control" id="input4" placeholder="" type="text">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-9">
                      <div class="form-group">
                          <label for="input5" class="col-md-5 control-label">Pounds of Food:</label>
                          <div class="col-md-7">
                              <input class="form-control" id="input5" placeholder="" type="text">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-9">
                      <div class="form-group">
                          <label for="input6" class="col-md-5 control-label">Dollar Value:</label>
                          <div class="col-md-7">
                              <input class="form-control" id="input6" placeholder="" type="text">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-9">
                      <div class="form-group">
                          <label for="input7" class="col-md-5 control-label">Notes:</label>
                          <div class="col-md-7">
                              <input class="form-control" id="input7" placeholder="" type="text">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-md-offset-4">
                      <button class="btn btn-lg btn-primary btn-block" type="submit">
                          Add Donation</button>
                  </div><!-- /.row this actually does not appear to be needed with the form-horizontal -->
              </div>
              </form>
      </div>
