<div class="col-xs-12 col-sm-9 content">
  <div class="text-left">
    <h1>New Household</h1>
  </div>
  <form class="form-horizontal" role="form">
    <div class="row">
      <div class="col-sm-3 col-lg-9">
        <div class="form-group">
          <label for="Member First Name" class="col-md-5 control-label">First Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="Member First Name" placeholder="" type="text" ng-model="req.householdmember.first.name">
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-9">
        <div class="form-group">
          <label for="Member Middle Name" class="col-md-5 control-label">Middle Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="Member Middle Name" placeholder="" type="text" ng-model="req.householdmember.middle.name">
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-9">
        <div class="form-group">
          <label for="Member Last Name" class="col-md-5 control-label">Last Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="Member Last Name" placeholder="" type="text" ng-model="req.householdmember.last.name">
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-9">
        <div class="form-group">
          <label for="Member Birthday" class="col-md-5 control-label">Birthday:</label>
          <div class="col-md-7">
            <input class="form-control" id="Member Birthday" placeholder="" type="date">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="Member Type" class="col-md-5 control-label">Member Type:</label>
          <div class="col-md-7">
            <select class="form-control" id="Member Type" ng-model="req.householdmember.type">
              <option></option>
              <option value="1">Head of Household</option>
              <option value="2">HouseholdMember</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
