<div class="col-xs-12 col-sm-9 content">
      <div class="text-left">
        <h1>New Household</h1>
      </div>
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-3 col-lg-9">
            <div class="form-group">
              <label for="input 1" class="col-md-5 control-label">Head of Household:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 1" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-9">
            <div class="form-group">
              <label for="input 2" class="col-md-5 control-label">Address Validation:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 2" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-9">
            <div class="form-group">
              <label for="input 3" class="col-md-5 control-label">Service Date:</label>
              <div class="col-md-7">
                <input class="form-control" id="Input 3" placeholder="" type="date">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
<div class="col-xs-12 col-sm-9 content">
    <div class="text-center">
      <h1>Household Information</h1>
    </div>
    <table class="table table-striped">
      <thead class="thread-inverse">
    <tr>
        <th>Inactive</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age Group</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>First Name</th>
        <th>Special Diet</th>
        <th>Disabled</th>
      </tr>
    </thead>
      <tbody>
    <tr>
        <th> </th>
        <th>Smith</th>
        <th>Joe</th>
        <th>2353 29th Ave S</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <tr>
        <th></th>
        <th>Smith</th>
        <th>Joe</th>
        <th>3959 74th Ave N</th>
      </tr>
    </tbody>
    </table>
   </div>
