<div class="col-xs-8 col-sm-6 content">
    <div class="text-center">
      <h1>Household Information</h1>
    </div>
    <p>

      <table class="table table-bordered">
        <thead class="thread-inverse">
      <tr>
          <th>Inactive</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age Group</th>
          <th>Birthday</th>
          <th>Gender</th>
          <th>Special Diet</th>
          <th>Disabled</th>
        </tr>
      </thead>
        <tbody>
      <tr>
          <th><input type="checkbox" class="form-control checkbox"> </th>
          <th>Joe</th>
          <th>Smith</th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th></th>
          <th><select class="form-control" multiple="multiple">
            <option>Male</option>
            <option>Female</option>
          </select></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
        </tr>
      <tr>
          <th><input type="checkbox" class="form-control checkbox"> </th>
          <th>Joe</th>
          <th>Smith</th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th></th>
          <th><select class="form-control" multiple="multiple">
            <option>Male</option>
            <option>Female</option>
          </select></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
        </tr>
      <tr>
          <th><input type="checkbox" class="form-control checkbox"> </th>
          <th>Joe</th>
          <th>Smith</th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th></th>
          <th><select class="form-control" multiple="multiple">
            <option>Male</option>
            <option>Female</option>
          </select></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
        </tr>
      <tr>
          <th><input type="checkbox" class="form-control checkbox"> </th>
          <th>Joe</th>
          <th>Smith</th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th></th>
          <th><select class="form-control" multiple="multiple">
            <option>Male</option>
            <option>Female</option>
          </select></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
        </tr>
      <tr>
          <th><input type="checkbox" class="form-control checkbox"> </th>
          <th>Joe</th>
          <th>Smith</th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th></th>
          <th><select class="form-control" multiple="multiple">
            <option>Male</option>
            <option>Female</option>
          </select></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <th><input type="checkbox" class="form-control checkbox"></th>
        </tr>
      </tbody>
      </table>
    </p>

    <p>
    <div class="col-md-2">
      <table class="table table-bordered">
        <thead>
      <tr>
          <th>Service Name</th>
          <th>Total No. of Ponds</th>
        </tr>
      </thead>
        <tbody>
      <tr>
          <td>Food Box</td>
          <td></td>
        </tr>
      <tr>
          <td>Commodities</td>
          <td></td>
        </tr>
      <tr>
          <td>Special Diets</td>
          <td></td>
        </tr>
      <tr>
          <td>Supplemental</td>
          <td></td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-9">
        <div class="form-group">
          <label for="input1" class="col-md-5 control-label">Total No. of People Served:</label>
          <div class="col-md-7">
            <input class="form-control" id="input1" placeholder="" type="text">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-9">
        <div class="form-group">
          <label for="input2" class="col-md-5 control-label">Total No. of People with Special Diet:</label>
          <div class="col-md-7">
            <input class="form-control" id="input2" placeholder="" type="text">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-9">
        <div class="form-group">
          <label for="input3" class="col-md-5 control-label">Total No. of People with Disability:</label>
          <div class="col-md-7">
            <input class="form-control" id="input3" placeholder="" type="text">
          </div>
        </div>
      </div>
    </div>
       <div class="btn-group">
        <button class="btn-primary">Edit</button>
        <button class="btn-primary">Cancel</button>
        <button class="btn-primary">New household</button>
       </div>

      </div>
