<div class="col-xs-12 col-sm-9 content">
    <div class="text-center">
        <h1>Selected Service Plan</h1>
    </div>
    <table class="table table-striped">
        <thead class="thread-inverse">
        <tr>
            <th>Plan</th>
            <th>Number of Locations</th>
            <th>Number of users</th>
            <th>Monthly cost</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Bronze</th>
            <th>1</th>
            <th>1</th>
            <th>&0.00</th>

        </tr>


        </tbody>
    </table>
</div>
