<div class="col-xs-12 col-sm-9 content">
          <div class="text-center">
              <h1>View Donation</h1>
          </div>
          <table class="table table-striped">
              <thead class="thread-inverse">
            <tr>
                  <th>Select</th>
                  <th>Donor Name</th>
                  <th>Donor ID</th>
                  <th>Donation Date</th>
                  <th>Funding Source</th>
                  <th>Food Type</th>
                  <th>Pounds of Food</th>
                  <th>Dollar Value</th>
                  <th>Notes</th>
              </tr>
            </thead>
              <tbody>
            <tr>
                  <th></th>
                  <th>Smith</th>
                  <th>Joe</th>
                  <th>2353 29th Ave S</th>
              </tr>
            <tr>
                  <th></th>
                  <th>Smith</th>
                  <th>Joe</th>
                  <th>3959 74th Ave N</th>
              </tr>
            </tbody>
          </table>
          </div>
    </div>
