<div class="col-xs-12 text-left">
  <div class="text-left">
    <h1>Add Household Member</h1>
  </div>
  <form class="form-horizontal" role="form" name="householdMemberInfoForm">
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="memberId" class="col-md-5 control-label">User Provided ID:</label>
          <div class="col-md-9">
            <input class="form-control" id="memberId" placeholder="" type="text" ng-model="member.providedId">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="firstName" class="col-md-5 control-label">First Name:</label>
          <div class="col-md-9">
            <input class="form-control" name="memberFirstNameFormInput" id="firstName" placeholder="" type="text" ng-model="member.firstName" ng-required="CheckMemberExists(householdMemberInfoForm)">
            <span class="form-validation-error" ng-show="householdMemberInfoForm.memberFirstNameFormInput.$touched && householdMemberInfoForm.memberFirstNameFormInput.$invalid">First name is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="middleName" class="col-md-5 control-label">Middle Name:</label>
          <div class="col-md-9">
            <input class="form-control" id="middleName" placeholder="" type="text" ng-model="member.middleName">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="lastName" class="col-md-5 control-label">Last Name:</label>
          <div class="col-md-9">
            <input class="form-control" name="memberLastNameFormInput" id="lastName" placeholder="" type="text" ng-model="member.lastName" ng-required="CheckMemberExists(householdMemberInfoForm)">
            <span class="form-validation-error" ng-show="householdMemberInfoForm.memberLastNameFormInput.$touched && householdMemberInfoForm.memberLastNameFormInput.$invalid">Last name is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="email" class="col-md-5 control-label">Email:</label>
          <div class="col-md-9">
            <input class="form-control" name="memberEmailFormInput" id="email" placeholder="" type="email" ng-model="member.email" >
            <span class="form-validation-error" ng-show="householdMemberInfoForm.memberEmailFormInput.$touched && householdMemberInfoForm.memberEmailFormInput.$invalid">Email is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-lg-12">
        <div class="form-group">
          <label for="phone" class="col-md-5 control-label">Phone Number:</label>
          <div class="col-md-9">
            <input class="form-control" name="memberPhoneNumberFormInput" ng-minlength="10" ng-maxlength="10" id="phone" placeholder="" type="number" ng-model="member.phone" >
            <span class="form-validation-error" ng-show="householdMemberInfoForm.memberPhoneNumberFormInput.$touched && householdMemberInfoForm.memberPhoneNumberFormInput.$invalid">Phone Number is required.</span>
             <span class="form-validation-error" ng-show="((householdMemberInfoForm.memberPhoneNumberFormInput.$error.minlength || householdMemberForm.memberPhoneNumberFormInput.$error.maxlength) && registration.phone.$dirty) ">phone number should be 10 digits</span>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="birthday" class="col-md-5 control-label">Birthday/Age:</label>
          <div class="col-md-9">
            <input class="form-control" name="memberBirthdayFormInput" id="birthday" placeholder="" type="date" ng-model="member.birthday" ng-required="CheckMemberExists(householdMemberInfoForm)">
            <span class="form-validation-error" ng-show="householdMemberInfoForm.memberBirthdayFormInput.$touched && householdMemberInfoForm.memberBirthdayFormInput.$invalid">Birthday is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="gender" class="col-md-5 control-label">Gender:</label>
          <div class="col-md-9">
            <select class="form-control" name="memberGenderFormInput" id="gender" ng-model="member.gender" ng-required="CheckMemberExists(householdMemberInfoForm)">
              <option></option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <span class="form-validation-error" ng-show="householdMemberInfoForm.memberGenderFormInput.$touched && householdMemberInfoForm.memberGenderFormInput.$invalid">Gender is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="memberType" class="col-md-5 control-label">Member Type:</label>
          <div class="col-md-9">
            <select class="form-control" name="memberTypeFormInput" id="memberType" ng-model="household.member.householdMemberType" ng-required="CheckMemberExists(householdMemberInfoForm)">
              <option></option>
              <option value="headOfHousehold">Head of Household</option>
              <option value="householdMember">Household Member</option>
            </select>
            <span class="form-validation-error" ng-show="householdMemberInfoForm.memberTypeFormInput.$touched && householdMemberInfoForm.memberTypeFormInput.$invalid">Member type is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="validationDate" class="col-md-5 control-label">Validation Date:</label>
          <div class="col-md-9">
            <input class="form-control" name="memberValidationDateFormInput" id="validationDate" placeholder="" type="date" ng-model="member.validationDate" >
            <span class="form-validation-error" ng-show="householdMemberForm.memberValidationDateFormInput.$touched && householdMemberForm.memberValidationDateFormInput.$invalid">Member validation date is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="validationType" class="col-md-5 control-label">Validation Type</label>
          <div class="col-md-9">
            <select class="form-control" name="memberValidationTypeFormInput" id="validationType" ng-model="member.validationType" >
              <option></option>
              <option value="Birth certificate">Birth certificate </option>
              <option value="Driver's license">Driver's license  </option>
              <option value="Passport">Passport </option>
              <option value="Utility bill">Utility bill</option>
            </select>
            <span class="form-validation-error" ng-show="householdMemberForm.memberValidationTypeFormInput.$touched && householdMemberForm.memberValidationTypeFormInput.$invalid">Member validation type is required.</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="race" class="col-md-5 control-label">Race</label>
          <div class="col-md-9">
            <select class="form-control" name="memberValidationTypeFormInput" ng-model="member.race" id="race">
              <option></option>
              <option value="American Indian or Alaska Native">American Indian or Alaska Native </option>
              <option value="Asian">Asian</option>
              <option value="Black or African American">Black or African American </option>
              <option value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-3 col-lg-12">
      <div class="form-group">
        <input type="checkbox" name="isDisabled" id="isDisabled" value="value" ng-model="tempMember.isDisabled">
        <label for="isDisabled">Disabled</label>
        <input type="checkbox" name="isHispanic" id="isHispanic" value="value" ng-model="tempMember.isHispanic">
        <label for="isHispanic">Hispanic</label>
        <input type="checkbox" name="isSpecialNeeds" id="isSpecialNeeds" value="value" ng-model="tempMember.isSpecialNeeds">
        <label for="isSpecialNeeds">Special needs</label>
        <input type="checkbox" name="isActive" id="isActive" value="value" ng-model="tempMember.isActive">
        <label for="isActive">Active</label>
        <input type="checkbox" name="isArchived" id="isArchived" value="value" ng-model="tempMember.isArchived">
        <label for="isArchived">Archived</label>

      </div>
    </div>
</div>
<div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <p>
          <button class="btn-primary" id="updateHouseholdMembersBtn">Update Member Info</button>
          <button class="btn-primary">Cancel</button>
        </p>
      </div>
    </div>
  </form>
</div>