<div class="col-xs-12 text-left">
  <div class="text-center">
  <h1>Edit Household</h1>
  </div>
  <div class="form-horizontal" role="form">
      <form class="row">
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
           <label for="householdId" class="col-md-5 control-label">Household Number:</label>
           <div class="col-md-9">
            <input class="form-control" id="householdId" placeholder="" type="text" ng-model="household.householdNumber" ng-readonly="isReadOnly">
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddress" class="col-md-5 control-label">Physical Address:</label>
          <div class="col-md-9">
            <input class="form-control" id="physicalAddress" placeholder="" type="text" ng-model="household.physicalAddress.line1">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddressUnit" class="col-md-5 control-label">Address Unit:</label>
          <div class="col-md-9">
            <input class="form-control" name="householdAddressFormInput" id="physicalAddressUnit" placeholder="" type="text" ng-model="household.physicalAddress.line2">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddressCity" class="col-md-5 control-label">City:</label>
            <div class="col-md-9">
              <input class="form-control" id="physicalAddressCity" placeholder="" type="text" ng-model="household.physicalAddress.city">
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="physicalAddressState" class="col-md-5 control-label">State:</label>
          <div class="col-md-9">
            <select class="form-control" name="householdStateFormInput" id="physicalAddressState" ng-model="household.physicalAddress.state" required>
              <option value="AK">AK</option>
              <option value="AL">AL</option>
              <option value="AR">AR</option>
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VA">VA</option>
              <option value="VT">VT</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>
              <option value="WV">WV</option>
              <option value="WY">WY</option>
              <option value="AS">AS</option>
              <option value="FM">FM</option>
              <option value="GU">GU</option>
              <option value="MH">MH</option>
              <option value="MP">MP</option>
              <option value="PR">PR</option>
              <option value="PW">PW</option>
              <option value="VI">VI</option>
              <option value="AA">AA</option>
              <option value="AE">AE</option>
              <option value="AP">AP</option>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="MB">MB</option>
              <option value="NB">NB</option>
              <option value="NL">NL</option>
              <option value="NS">NS</option>
              <option value="NT">NT</option>
              <option value="NU">NU</option>
              <option value="ON">ON</option>
              <option value="PE">PE</option>
              <option value="QC">QC</option>
              <option value="SK">SK</option>
              <option value="YT">YT</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
           <label for="physicalAddressZip" class="col-md-5 control-label">Zip Code:</label>
              <div class="col-md-9">
                 <input class="form-control" id="physicalAddressZip" placeholder="" type="number" ng-model="household.physicalAddress.zip">
              </div>
           </div>
      </div>
      <div class="col-sm-6 col-lg-12">
          <div class="form-group">
             <label for="addressValidationDate" class="col-md-5 control-label">Validation Date:</label>
                <div class="col-md-9">
                  <input class="form-control" name="addressValidationDate" id="addressValidationDate" placeholder="" type="text" ng-model="household.validationDate">
                </div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-12">
          <div class="form-group">
              <label for="addressValidationType" class="col-md-5 control-label">Validation Type</label>
                 <div class="col-md-9">
                 <select class="form-control" name="memberValidationTypeFormInput" ng-model="household.validationType" id="addressValidationType">
            <option></option>
            <option value="Driving License">Driving License </option>
            <option value="Physical mail">Physical mail  </option>
            <option value="Rental agreement">Rental agreement </option>
            <option value="Utility bill">Utility bill</option>
          </select>
        </div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-12">
          <div class="form-group">
            <label for="transportationType" class="col-md-5 control-label">Transportation:</label>
               <div class="col-md-9">
               <select class="form-control" name="transportationType" ng-model="household.transportationType" id="transportationType">
            <option></option>
            <option value="option1">By Bus</option>
            <option value="option2">By Car</option>
            <option value="option3">On Foot</option>
          </select>
        </div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="hudCategory" class="col-md-5 control-label">Hud Category:</label>
             <div class="col-md-9">
              <select class="form-control" name="hudCategory" id="hudCategory" ng-model="household.hudCategory">
            <option></option>
            <option value="ELOW">Extremely Low</option>
            <option value="VLOW">Very Low</option>
            <option value="LOW">Low</option>
            <option value="MOD">Moderate</option>
            <option value="AMOD">Non Low/Moderate Income</option>
            </select>
             </div>
        </div>
      </div>
      <div class="col-sm-offset-1 col-lg-12">
           <div class="form-group">
        <input type="checkbox" name="isInCityLimits" id="isInCityLimits" ng-model="household.isInCityLimits">
        <label for="isInCityLimits">In City Limits</label>
        <input type="checkbox" name="isHomeless" id="isHomeless" ng-model="household.isHomeless">
        <label for="isHomeless">Homeless</label>
        <input type="checkbox" name="isCommoditiesEligible" id="isCommoditiesEligible" ng-model="household.isCommoditiesEligible">
        <label for="isCommoditiesEligible">Commodities Eligible</label>

        <input type="checkbox" name="isSingleParentHousehold" id="isSingleParentHousehold" ng-model="household.isSingleParentHousehold">
        <label for="isSingleParentHousehold">Single Parent Household</label>
        <input type="checkbox" name="isArchived" id="isArchived" ng-model="household.isArchived">
        <label for="isArchived">Archived</label>
        <input type="checkbox" name="isActive" id="isActive" ng-model="household.isActive">
        <label for="isActive">Active</label>
      </div>
      </div>
      <div class="text-center">
  <h2>Household Member Info</h2>
  </div>
      <div class="col-sm-6 col-lg-12">
  <div class="form-group">
    <p>
      <button class="btn-primary">Save Household</button>
      <button class="btn-primary">New Service</button>
      <button class="btn-primary" id="updateHouseholdMembersBtn" ng-click="editHouseholdMembers()">Update Member Info</button>
      <button class="btn-primary">Make Head of Household</button>
    </p>
    </div>
  </div>
      <table class="table table-bordered">
    <theadv class="thread-inverse">
      <tr>
        <th>Selection</th>
        <th>Member Id</th>
        <th>Name</th>
        <th>Member Type</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Validation Date</th>
        <th>Validation Type</th>
        <th>Disabled</th>
        <th>Hispanic</th>
        <th>Special Needs</th>
        <th>Archived</th>
        <th>Inactive</th>
        <th>Created At</th>
      </tr>
    </theadv>
    <tbody>
      <tr ng-repeat="member in householdMembers">
        <td>
          <label class="btn-default">
            <input name="memberSelection" id="memberSelection" value="{{ member }}" class="active" type="radio" ng-model="selectedHouseholdMember" ng-change="setSelectedHouseholdMember(member)">
          </label>
        <td>{{ member.memberId }}</td>
        <td>{{ member.firstName + " " + member.middleName + " " + member.lastName}}</td>
        <td>{{ member.memberType | householdMemberType }}</td>
        <th>{{ member.birthday | date:'MM/dd/yyyy' }}</th>
        <th>{{ member.gender }}</th>
        <th>{{ member.validationDate | date:'MM/dd/yyyy' }}</th>
        <th>{{ member.validationType }}</th>
        <th>{{ member.isDisabled }}</th>
        <th>{{ member.isHispanic }}</th>
        <th>{{ member.isSpecialNeeds }}</th>
        <th>{{ member.isArchived }}</th>
        <th>{{ member.isInactive }}</th>
        <th>{{ member.createdAt | date:'MM/dd/yyyy' }}</th>
      </tr>
    </tbody>
  </table>
  </form>
  </div>
</div>
