<div class="text-center">
  <h1>Edit Household</h1>
</div>
<form class="form-horizontal" role="form">
  <form class="row">
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 2" class="col-md-5 control-label">Head of household:</label>
        <div class="col-md-7">
          <input class="form-control" id="Input 2" placeholder="" type="text" ng-model="req.household.headOfHousehold">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 5" class="col-md-5 control-label">Address:</label>
        <div class="col-md-7">
          <input class="form-control" id="input 5" placeholder="" type="text" ng-model="req.household.Address">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 6" class="col-md-5 control-label"></label>
        <div class="col-md-7">
          <input class="form-control" id="input 6" placeholder="" type="text" ng-model="req.household.AddressLine2">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 7" class="col-md-5 control-label">City:</label>
        <div class="col-md-7">
          <input class="form-control" id="input 7" placeholder="" type="text" ng-model="req.household.city">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 8" class="col-md-5 control-label">State:</label>
        <div class="col-md-7">
          <input class="form-control" id="input 8" placeholder="" type="text" ng-model="req.household.state">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 9" class="col-md-5 control-label">Zip code:</label>
        <div class="col-md-7">
          <input class="form-control" id="input 9" placeholder="" type="text" ng-model="req.household.zipCode">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="ValidationType" class="col-md-5 control-label">Validation Type</label>
        <div class="col-md-7">
          <select class="form-control" name="memberValidationTypeFormInput" ng-model="req.household.state" id="ValidationType">
            <option></option>
            <option value="Driving License">Birth certificate </option>
            <option value="Physical mail">Driver's license  </option>
            <option value="Rental agreement">ID Card </option>
            <option value="Utility bill">Passport</option>
          </select>
        </div>
      </div>
    </div>
  </form>
 </form>
<div class="text-center">
  <h2>Household Info</h2>
</div>
<div class="col-sm-6 col-lg-12">
  <div class="form-group">
    <p>
      <button class="btn-primary">Save Household</button>
      <button class="btn-primary">New Service</button>
      <button class="btn-primary">Add new household</button>
      <button class="btn-primary">Update Member Info</button>
      <button class="btn-primary">Make head of household</button>
    </p>
    </div>
  </div>
<div>
  <table class="table table-bordered">
    <thead class="thread-inverse">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Inactive</th>
      <th>Special diet</th>
      <th>Disabled</th>
      <th>Hispanic</th>
      <th>Member Type</th>
      <th>Validation Date</th>
      <th>Validation Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Joe Smith</th>
      <th>40</th>
      <th>Male</th>
      <th><Input type="checkbox" class="form-control checkbox"></th>
      <th><Input type="checkbox" class="form-control checkbox"></th>
      <th><Input type="checkbox" class="form-control checkbox"></th>
      <th><Input type="checkbox" class="form-control checkbox"></th>
      <th>Head of household</th>
      <th> </th>
      <th> </th>
    </tr>
    </tbody>
    <tbody>
    <tr>
      <th>Judy Smith</th>
      <th>40</th>
      <th>Female</th>
      <th><Input type="checkbox" class="form-control checkbox"></th>
      <th><Input type="checkbox" class="form-control checkbox"></th>
      <th><Input type="checkbox" class="form-control checkbox"></th>
      <th><Input type="checkbox" class="form-control checkbox"></th>
      <th>Household member</th>
      <th> </th>
      <th> </th>
    </tr>
    </tbody>
  </table>
</div>


