<div class="text-center">
  <h1>Edit Household</h1>
</div>
<form class="form-horizontal" role="form">
  <form class="row">
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 2" class="col-md-5 control-label">First Name:</label>
        <div class="col-md-7">
          <input class="form-control" id="Input 2" placeholder="" type="text" ng-model="householdMember.items[0].firstName">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 2" class="col-md-5 control-label">Last Name:</label>
        <div class="col-md-7">
          <input class="form-control" id="Input 3" placeholder="" type="text" ng-model="householdMember.items[0].lastName">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 5" class="col-md-5 control-label">Address:</label>
        <div class="col-md-7">
          <input class="form-control" id="input 5" placeholder="" type="text" ng-model="household.physicalAddress.line1">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 6" class="col-md-5 control-label"></label>
        <div class="col-md-7">
          <input class="form-control" id="input 6" placeholder="" type="text" ng-model="household.physicalAddress.line2">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 7" class="col-md-5 control-label">City:</label>
        <div class="col-md-7">
          <input class="form-control" id="input 7" placeholder="" type="text" ng-model="household.physicalAddress.city">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 8" class="col-md-5 control-label">State:</label>
        <div class="col-md-7">
          <input class="form-control" id="input 8" placeholder="" type="text" ng-model="household.physicalAddress.state">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="input 9" class="col-md-5 control-label">Zip code:</label>
        <div class="col-md-7">
          <input class="form-control" id="input 9" placeholder="" type="number" ng-model="household.physicalAddress.zip">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="form-group">
        <label for="ValidationType" class="col-md-5 control-label">Validation Type</label>
        <div class="col-md-7">
          <select class="form-control" name="memberValidationTypeFormInput" ng-model="household.validationType" id="ValidationType">
            <option></option>
            <option value="Driving License">Driving License </option>
            <option value="Physical mail">Physical mail  </option>
            <option value="Rental agreement">Rental agreement </option>
            <option value="Utility bill">Utility bill</option>
          </select>
        </div>
      </div>
    </div>
  </form>
 </form>
<div class="text-center">
  <h2>Household Info</h2>
</div>
<div class="col-sm-6 col-lg-12">
  <div class="form-group">
    <p>
      <button class="btn-primary">Save Household</button>
      <button class="btn-primary">New Service</button>
      <button class="btn-primary">Add new household</button>
      <button class="btn-primary">Update Member Info</button>
      <button class="btn-primary">Make head of household</button>
    </p>
    </div>
  </div>
<div>
  <table class="table table-bordered">
    <thead class="thread-inverse">
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Inactive</th>
      <th>Special Needs</th>
      <th>Disabled</th>
      <th>Hispanic</th>
      <th>Member Type</th>
      <th>Validation Date</th>
      <th>Validation Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="left2">
          <input type="text" ng-model="householdMember.items[0].firstName"/>
        </div>
      </td>
      <td>
        <div class="left2">
          <input type="text" ng-model="householdMember.items[0].birthday"/>
        </div>
      </td>
      <td>
        <div class="left2">
          <input type="text" ng-model="householdMember.items[0].gender"/>
        </div>
      </td>
      <th><Input type="checkbox" class="form-control checkbox" ng-model="householdMember.items[0].isActive"></th>
      <th><Input type="checkbox" class="form-control checkbox" ng-model="householdMember.items[0].isSpecialNeeds"></th>
      <th><Input type="checkbox" class="form-control checkbox" ng-model="householdMember.items[0].isDisabled"></th>
      <th><Input type="checkbox" class="form-control checkbox" ng-model="householdMember.items[0].isHispanic"></th>
      <th>Head of household</th>
      <td>
        <div class="left2">
          <input type="text" ng-model="householdMember.items[0].validationDate"/>
        </div>
      </td>
      <td>
        <div class="left2">
          <input type="text" ng-model="householdMember.items[0].validationType"/>
        </div>
      </td>
    </tr>
    </tbody>
    <!--<tbody>
    <tr>
      <td>Judy Smith</td>
      <td>40</td>
      <td>Female</td>
      <td><Input type="checkbox" class="form-control checkbox"></td>
      <td><Input type="checkbox" class="form-control checkbox"></td>
      <td><Input type="checkbox" class="form-control checkbox"></td>
      <td><Input type="checkbox" class="form-control checkbox"></td>
      <td>Household member</td>
      <td> </td>
      <td> </td>
    </tr>
    </tbody>-->
  </table>
</div>


