 <div class="text-center">
        <h1>Find Household</h1>
 </div>
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="householdId" class="col-md-5 control-label">Household ID:</label>
              <div class="col-md-7">
                <input class="form-control" id="householdId" placeholder="" type="text" ng-model="householdsFilter.householdId">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="headOfHouseholdId" class="col-md-5 control-label">Head of Household ID:</label>
              <div class="col-md-7">
                <input class="form-control" id="headOfHouseholdId" placeholder="" type="text" ng-model="householdsFilter.headOfHouseholdId">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="addressLine1" class="col-md-5 control-label">Address Line 1:</label>
              <div class="col-md-7">
                <input class="form-control" id="addressLine1" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.line1">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="addressLine2" class="col-md-5 control-label">Address Line 2:</label>
              <div class="col-md-7">
                <input class="form-control" id="addressLine2" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.line2">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="city" class="col-md-5 control-label">City:</label>
              <div class="col-md-7">
                <input class="form-control" id="city" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.city">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="state" class="col-md-5 control-label">State:</label>
              <div class="col-md-7">
                <input class="form-control" id="state" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.state">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="zip" class="col-md-5 control-label">Zip Code:</label>
              <div class="col-md-7">
                <input class="form-control" id="zip" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.zip">
              </div>
            </div>
          </div>
          <div class="col-sm-offset-4 col-lg-12">
            <div class="form-group">
              <p>
                <input type="checkbox" name="includeInactive" id="includeInactive" value="value">
                <label for="includeInactive">Include Inactive</label>
                <input type="checkbox" name="includeArchived" id="includeArchived" value="value">
                <label for="includeArchived">Include Archived</label>
              </p>
            </div>
          </div>
          <div class="col-sm-offset-9">
            <p>
              <button class="btn-primary" ng-click="findHouseholds()">Search</button>
            </p>
          </div>
          <div>
              <p>
                <button class="btn-primary">New Service</button>
                <button class="btn-primary">Edit Household</button>
              </p>
          </div>
          <div class="col-sm-6 col-lg-12" ng-show="households.length > 0">
              <div class="form-group">
                <table class="table table-bordered">
                  <thead class="thread-inverse">
                    <tr>
                      <th>Selection</th>
                      <th>Household ID</th>
                      <th>Address Line 1</th>
                      <th>Address Line 2</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Zip Code</th>
                      <th>Created At</th>
                      <th>Last Updated At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="household in households | filter: householdsFilter ">
                      <td>
                        <label class="btn-default">
                          <input name="householdSelection" id="householdSelection" value="{{ household }}" class="active" type="radio" data-ng-model="selectedHousehold">
                        </label>
                      </td>
                      <td>{{ household.householdId }}</td>
                      <td>{{ household.physicalAddress.line1 }}</td>
                      <td>{{ household.physicalAddress.line2 }}</td>
                      <td>{{ household.physicalAddress.city }}</td>
                      <td>{{ household.physicalAddress.state }}</td>
                      <td>{{ household.physicalAddress.zip }}</td>
                      <td>{{ household.createdAt }}</td>
                      <td>{{ household.updatedAt }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </form>

