<div class="col-xs-12 text-left">
 <div class="text-center">
        <h1>Find Household</h1>
 </div>
      <form class="form-horizontal" role="form" name = "findHouseholdForm">
        <div ng-init="AddFormToScope(findHouseholdForm);"></div>
        <div class="row">
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="householdId" class="col-md-5 control-label">Household Number:</label>
              <div class="col-md-9">
                <input class="form-control" id="householdId" placeholder="" type="number" ng-model="householdsFilter.householdNumber">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="firstname" class="col-md-5 control-label">Head of Household First Name:</label>
              <div class="col-md-9">
                <input class="form-control" id="firstname" placeholder="" type="text" ng-model="householdsFilter.headOfHousehold_firstName">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="lastname" class="col-md-5 control-label">Head of Household Last Name:</label>
              <div class="col-md-9">
                <input class="form-control" id="lastname" placeholder="" type="text" ng-model="householdsFilter.headOfHousehold_lastName">
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="headOfHouseholdId" class="col-md-5 control-label">Head of Household Provided ID:</label>
              <div class="col-md-9">
                <input class="form-control" id="headOfHouseholdId" placeholder="" type="text" ng-model="householdsFilter.headOfHousehold_providedId">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="physicalAddress" class="col-md-5 control-label">Physical Address:</label>
              <div class="col-md-9">
                <input class="form-control" name="householdAddressFormInput" id="physicalAddress" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.line1">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="form-group">
              <label for="physicalAddressUnit" class="col-md-5 control-label">Physical Address Unit:</label>
              <div class="col-md-9">
                <input class="form-control" name="householdAddressFormInput" id="physicalAddressUnit" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.line2">
              </div>
            </div>
          </div>
            <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                <label for="physicalAddressCity" class="col-md-5 control-label">City:</label>
                <div class="col-md-9">
                  <input class="form-control" name="householdCityFormInput" id="physicalAddressCity" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.city">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                <label for="physicalAddressState" class="col-md-5 control-label">State:</label>
                <div class="col-md-9">
                  <select class="form-control" name="householdStateFormInput" id="physicalAddressState" ng-model="householdsFilter.physicalAddress.state">
                    <option></option>
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                    <option value="AS">AS</option>
                    <option value="FM">FM</option>
                    <option value="GU">GU</option>
                    <option value="MH">MH</option>
                    <option value="MP">MP</option>
                    <option value="PR">PR</option>
                    <option value="PW">PW</option>
                    <option value="VI">VI</option>
                    <option value="AA">AA</option>
                    <option value="AE">AE</option>
                    <option value="AP">AP</option>
                    <option value="AB">AB</option>
                    <option value="BC">BC</option>
                    <option value="MB">MB</option>
                    <option value="NB">NB</option>
                    <option value="NL">NL</option>
                    <option value="NS">NS</option>
                    <option value="NT">NT</option>
                    <option value="NU">NU</option>
                    <option value="ON">ON</option>
                    <option value="PE">PE</option>
                    <option value="QC">QC</option>
                    <option value="SK">SK</option>
                    <option value="YT">YT</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                <label for="physicalAddressZip" class="col-md-5 control-label">Zip Code:</label>
                <div class="col-md-9">
                  <input class="form-control" name="householdZipFormInput" id="physicalAddressZip" placeholder="" type="number" ng-model="householdsFilter.physicalAddress.zip">
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                <label for="transportationType" class="col-md-5 control-label">Transportation:</label>
                <div class="col-md-9">
                  <select class="form-control" name="transportationType" id="transportationType" ng-model="householdsFilter.transportationType">
                    <option></option>
                    <option value="By Bus">By Bus</option>
                    <option value="By Car">By Car</option>
                    <option value="On Foot">On Foot</option>
                   </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                <label for="hudCategory" class="col-md-5 control-label">Hud Category:</label>
                <div class="col-md-9">
                  <select class="form-control" name="hudCategory" id="hudCategory" ng-model="householdsFilter.hudCategory">
                    <option></option>
                    <option value="Extremely Low">Extremely Low</option>
                    <option value="Very Low">Very Low</option>
                    <option value="Low">Low</option>
                    <option value="Moderate">Moderate</option>
                  </select>
                  </div>
              </div>
            </div>
          <div class="col-sm-offset-1 col-lg-12">
            <div class="form-group">
              <input type="checkbox" name="isInCityLimits" id="isInCityLimits" ng-model="householdsFilter.isInCityLimits">
              <label for="isInCityLimits">In City Limits</label>
              <input type="checkbox" name="isHomeless" id="isHomeless" ng-model="householdsFilter.isHomeless">
              <label for="isHomeless">Homeless</label>
              <input type="checkbox" name="isCommoditiesEligible" id="isCommoditiesEligible" ng-model="householdsFilter.isCommoditiesEligible">
              <label for="isCommoditiesEligible">Commodities Eligible</label>
              <input type="checkbox" name="isSingleParentHousehold" id="isSingleParentHousehold" ng-model="householdsFilter.isSingleParentHousehold">
              <label for="isSingleParentHousehold">Single Parent Household</label>
              <input type="checkbox" name="isArchived" id="isArchived" ng-model="householdsFilter.isArchived">
              <label for="isArchived">Archived</label>
              <input type="checkbox" name="isActive" id="isActive" ng-model="householdsFilter.isActive">
              <label for="isActive">Active</label>
            </div>
          </div>
          <div>
            <p>
              <button id="searchHouseholdsButtonId" class="btn-primary" ng-click="findHouseholds()">Search</button>
            </p>
          </div>
          <div>
              <p>
                <button class="btn-primary" id="editHouseholdBtn" ng-click="editHousehold()" ng-show="selectedHousehold" ng-disabled="findHouseholdsEditHouseholdBtnDisabled">Edit Household</button>
                <button class="btn-primary" id="newServiceBtn" ng-click="newService()" ng-show="selectedHousehold" >New Service</button>
                <button class="btn-primary" id="addHouseholdMemberBtn" ng-click="addHouseholdMember()" ng-show="selectedHousehold" ng-disabled="findHouseholdsEditHouseholdBtnDisabled">Add Household Member</button>

              </p>
          </div>
          <div class="col-sm-6 col-lg-12">
              <div class="form-group">
                <table class="table table-bordered" ng-show="householdsSearchExecuted && households.length > 0">
                  <thead class="thread-inverse">
                    <tr>
                      <th>Selection</th>
                      <th>Household Number</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Head of Household ID</th>
                      <th>Address</th>
                      <th>Address Unit</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Zip Code</th>
                      <th>Validation Date</th>
                      <th>Validation Type</th>
                      <th>Transportation</th>
                      <th>Hud</th>
                      <th>Created At</th>
                      <th>Last Updated At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="household in households">
                      <td>
                        <label class="btn-default">
                          <input name="householdSelection" id="householdSelection" value="{{ household }}" class="active" type="radio" ng-model="selectedHousehold" ng-change="setSelectedHousehold(household)">
                        </label>
                      </td>
                      <!--<td>input type = "radio"</td>-->
                      <td>{{ household.householdNumber }}</td>
                      <td>{{ household.headOfHousehold.firstName }}</td>
                      <td>{{ household.headOfHousehold.lastName }}</td>
                      <td>{{ household.headOfHousehold.providedId }}</td>
                      <td>{{ household.physicalAddress.line1 }}</td>
                      <td>{{ household.physicalAddress.unit }}</td>
                      <td>{{ household.physicalAddress.city }}</td>
                      <td>{{ household.physicalAddress.state }}</td>
                      <td>{{ household.physicalAddress.zip }}</td>
                      <td>{{ household.validationDate | date:'MM/dd/yyyy'}}</td>
                      <td>{{ household.validationType }}</td>
                      <td>{{ household.transportationType}}</td>
                      <td>{{ household.hudCategory}}</td>
                      <td>{{ household.createdAt | date:'MM/dd/yyyy'  }}</td>
                      <td>{{ household.updatedAt | date:'MM/dd/yyyy'  }}</td>
                    </tr>
                  </tbody>
                </table>
                <center><h4 ng-show="householdsSearchExecuted && households.length == 0">Your household search returned 0 results. Please try again!</h4></center>
              </div>
          </div>
        </div>
      </form>
</div>
