<div class="col-xs-12 col-sm-9 content">
  <div class="text-left">
    <h1>New Household</h1>
  </div>
  <form class="form-horizontal" role="form">
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="New Household First Name" class="col-md-5 control-label">First Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="New Household First Name" placeholder="" type="text">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="New Household Middle Name" class="col-md-5 control-label">Middle Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="New Household Middle Name" placeholder="" type="text">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="New Household Last Name" class="col-md-5 control-label">Last Name:</label>
          <div class="col-md-7">
            <input class="form-control" id="New Household Last Name" placeholder="" type="text">
          </div>
        </div>
      </div>
      <div class="text-left">
        <h4>Address 1</h4>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="New Household Address" class="col-md-5 control-label">Address:</label>
          <div class="col-md-7">
            <input class="form-control" id="New Household Address" placeholder="" type="text">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="City 1" class="col-md-5 control-label">City:</label>
          <div class="col-md-7">
            <input class="form-control" id="City 1" placeholder="" type="text">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="State 1" class="col-md-5 control-label">State:</label>
          <div class="col-md-7">
            <select class="form-control" id="State 1" >
              <option></option>
              <option value="AK">AK</option>
              <option value="AL">AL</option>
              <option value="AR">AR</option>
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VA">VA</option>
              <option value="VT">VT</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>
              <option value="WV">WV</option>
              <option value="WY">WY</option>
              <option value="AS">AS</option>
              <option value="FM">FM</option>
              <option value="GU">GU</option>
              <option value="MH">MH</option>
              <option value="MP">MP</option>
              <option value="PR">PR</option>
              <option value="PW">PW</option>
              <option value="VI">VI</option>
              <option value="AA">AA</option>
              <option value="AE">AE</option>
              <option value="AP">AP</option>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="MB">MB</option>
              <option value="NB">NB</option>
              <option value="NL">NL</option>
              <option value="NS">NS</option>
              <option value="NT">NT</option>
              <option value="NU">NU</option>
              <option value="ON">ON</option>
              <option value="PE">PE</option>
              <option value="QC">QC</option>
              <option value="SK">SK</option>
              <option value="YT">YT</option>
              <option value="None">None</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="Zip code 1" class="col-md-5 control-label">Zip code:</label>
          <div class="col-md-7">
            <input class="form-control" id="Zip code 1" placeholder="" type="text">
          </div>
        </div>
      </div>
      <div class="text-left">
        <h4>Address 2</h4>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="New Household Address 2" class="col-md-5 control-label">Address:</label>
          <div class="col-md-7">
            <input class="form-control" id="New Household Address 2" placeholder="" type="text">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="City 2" class="col-md-5 control-label">City:</label>
          <div class="col-md-7">
            <input class="form-control" id="City 2" placeholder="" type="text">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="State 2" class="col-md-5 control-label">State:</label>
          <div class="col-md-7">
            <select class="form-control" id="State 2" placeholder="" type="text">
              <option></option>
               <option value="AK">AK</option>
              <option value="AL">AL</option>
              <option value="AR">AR</option>
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VA">VA</option>
              <option value="VT">VT</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>
              <option value="WV">WV</option>
              <option value="WY">WY</option>
              <option value="AS">AS</option>
              <option value="FM">FM</option>
              <option value="GU">GU</option>
              <option value="MH">MH</option>
              <option value="MP">MP</option>
              <option value="PR">PR</option>
              <option value="PW">PW</option>
              <option value="VI">VI</option>
              <option value="AA">AA</option>
              <option value="AE">AE</option>
              <option value="AP">AP</option>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="MB">MB</option>
              <option value="NB">NB</option>
              <option value="NL">NL</option>
              <option value="NS">NS</option>
              <option value="NT">NT</option>
              <option value="NU">NU</option>
              <option value="ON">ON</option>
              <option value="PE">PE</option>
              <option value="QC">QC</option>
              <option value="SK">SK</option>
              <option value="YT">YT</option>
              <option value="None">None</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="Zip code 2" class="col-md-5 control-label">Zip code:</label>
          <div class="col-md-7">
            <input class="form-control" id="Zip code 2" placeholder="" type="text">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="Address Validation" class="col-md-5 control-label">Address Validation:</label>
          <div class="col-md-7">
            <input class="form-control" id="Address Validation" placeholder="" type="text">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12">
        <div class="form-group">
          <label for="Service Date" class="col-md-5 control-label">Service Date:</label>
          <div class="col-md-7">
            <input class="form-control" id="Service Date" placeholder="" type="date">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
