

<div class="col-xs-0 left">
  <div class="text-center">
    <div ng-include="'views/households/newser2.html'"></div>
  </div>
</div>
<div class="col-xs-0 right">
  <div class="text-center">
    <div ng-include="'views/households/newservice.html'"></div>
  </div>
</div>



<!--<div class="span">
    <div class="col-xs-2">
      <div> ng-class = "{active: template.name === page.name}" ng-repeat="page in newServicePages"><a>{{ newServicePages.name }}</a> </div>
    </div>
  </div>

    <div class="col-lg-8 col-sm-offset-1">
      <div ng-include="template.url"></div>
      <div class="col-sm-8 col-lg-9">
        <div class="form-group">
          <br>
          <div class="col-md-7"></div>
        </div>
      </div>
    </div>-->
