<div class="col-xs-4 col-md-6">
  <div class="text-center">
    <h1>Household Information</h1>
  </div>
  <div class = "row">
    <table class="table table-bordered">
      <thead class="thread-inverse">
      <tr>
        <th>Select</th>
        <th>User Provided Id</th>
        <th>Name</th>
        <th>Member Type</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Disabled</th>
        <th>Special Needs</th>
      </thead>
      <tbody>
      <tr ng-repeat="member in householdMembers">
        <td>
          <label class="btn-default">
            <input name="householdSelection" id="check" type = "checkbox">
          </label>
        </td>
        <td>{{ member.providedId }}</td>
        <td>{{ member.firstName + " " + member.middleName + " " + member.lastName}}</td>
        <td>{{ member.memberType}}</td>
        <td>{{ member.birthday | date:'MM/dd/yyyy' }}</td>
        <td>{{ member.gender }}</td>
        <td>
          <label class="btn-default">
            <input name="householdSelection" id="isDisabled" value="{{ member }}" class="active" type="checkbox" ng-model="member.isDisabled" ng-readonly="isReadOnly">
          </label>
        </td>
        <td>
          <label class="btn-default">
            <input name="householdSelection" id="isSpecialNeeds" value="{{ member }}" class="active" type="checkbox" ng-model="member.isSpecialNeeds" ng-readonly="isReadOnly">
          </label>
        </td>
        <!--<td>{{ member.isDisabled }}</td>
        <td>{{ member.isSpecialNeeds }}</td>-->
      </tr>
      </tbody>
    </table>
    </tbody>
    </table>
  </div>
  <div class = "row">
    <form class="form-horizontal" role="form" name="newService1">
    <div class="col-sm-2 col-lg-12">
      <div class="form-group">
        <label for="serviceRecieved" class="col-md-3 control-label">Service received by:</label>
        <div class="col-md-4">
          <input class="form-control" name="serviceRecieved" id="serviceRecieved" placeholder="" type="text" ng-model="householdsFilter.physicalAddress.line2">
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class = "row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-sm" >Recalculate</button>
      <button class="btn btn-primary btn-sm" >Add Member</button>
      <button class="btn btn-primary btn-sm" >Save</button>
      <button class="btn btn-primary btn-sm" >Cancel</button>
    </div>
  </div>
</div>


