<div class="col-xs-11 col-md-11">
  <div class="text-left">
    <h1>Household Information</h1>
  </div>
    <table class="table table-bordered">
      <thead class="thread-inverse">
        <th>Selection</th>
        <th>Member Name</th>
        <th>User Provided ID</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Disabled</th>
        <th>Special Needs</th>
      </thead>
      <tbody>
      <tr ng-repeat="member in householdMembers">
        <td><input type="checkbox" id="householdMembersSelection" ng-model="householdMembersSelected[member.memberId]" ng-change="calculateServicePounds()"></td>
        <td>{{ member.firstName + " " + member.lastName}}</td>
        <td>{{ member.providedId }}</td>
        <td>{{ member.age }}</td>
        <td>{{ member.gender }}</td>
        <td><input type="checkbox" ng-model="member.isDisabled" ng-disabled="true"></td>
        <td><input type="checkbox" ng-model="member.isSpecialNeeds" ng-disabled="true"></td>
      </tr>
      </tbody>
    </table>
    </tbody>
    </table>
  </div>
  <div class = "row">
    <form class="form-horizontal" role="form" name="newService1">
    <div class="col-sm-2 col-lg-10">
      <div class="form-group">
        <label for="serviceRecieved" class="col-md-6 control-label">Service received by:</label>
        <div class="col-md-6">
          <input class="form-control" name="serviceRecieved" id="serviceRecieved" placeholder="" type="text" ng-model="servicesCreateRequest.personPresentFirstName">
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class = "row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-sm" ng-click="createService()">Create Service</button>
      <button class="btn btn-primary btn-sm"ng-click="findHousehold()" >Cancel Service</button>
      <button class="btn btn-primary btn-sm"ng-click="resetCreateServicePage()" >Reset</button>
    </div>
  </div>


