<div class="col-xs-8 col-md-6">
  <div class="text-center">
    <h1>New Service</h1>
  </div>
  <div >
    <table class="table table-bordered">
      <thead class="thread-inverse">
      <tr>
        <th>Selection</th>
        <th>Service Name</th>
        <th>Occurrences this Week</th>
        <th>Occurrences this Month</th>
        <th>Eligible</th>
        <th>Total No. of Ponds</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th><input type="checkbox" class="form-control checkbox"></th>
        <td>Full Service</td>
        <td></td>
        <td></td>
        <th><input type="checkbox" class="form-control checkbox"></th>
        <td><input type='text'/></td>
      </tr>
      <tr>
        <th><input type="checkbox" class="form-control checkbox"></th>
        <td>No Cook</td>
        <td></td>
        <td></td>
        <th><input type="checkbox" class="form-control checkbox"></th>
        <td><input type='text'/></td>
      </tr>
      <tr>
        <th><input type="checkbox" class="form-control checkbox"></th>
        <td>Baby Services</td>
        <td></td>
        <td></td>
        <th><input type="checkbox" class="form-control checkbox"></th>
        <td><input type='text'/></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<form class="form-horizontal" role="form" name="newService">
  <div class="col-sm-12">
    <button class="btn btn-primary btn-sm" >Recalculate</button>
    <button class="btn btn-primary btn-sm" >Add Member</button>
    <button class="btn btn-primary btn-sm" >Save</button>
    <button class="btn btn-primary btn-sm" >Cancel</button>
  </div>-->
  <!--<div class="btn-group">
      <button class="btn-primary">Edit</button>
      <button class="btn-primary">Cancel</button>
      <button class="btn-primary">New household</button>
     </div>-->
</form>
