<div class="col-xs-12 text-left">
  <div class="text-center">
    <h1>New Services</h1>
  </div>

  <div>
    <iframe src="newservices2.html" width="200" height="200"></iframe>
      <table class="table table-bordered">
        <thead class="thread-inverse">
      <tr>
          <th> </th>
          <th>Service Name</th>
          <th>Eligibility</th>
          <th>Total No. of Ponds</th>
        </tr>
      </thead>
        <tbody>
      <tr>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <td>Full Service</td>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <td></td>
        </tr>
      <tr>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <td>No Cook</td>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <td></td>
        </tr>
      <tr>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <td>Baby Services</td>
          <th><input type="checkbox" class="form-control checkbox"></th>
          <td></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
  <form class="form-horizontal" role="form" name="newService1">
    <div class="col-md-7">
      <button class="btn btn-primary btn-sm" >Cancel</button>
    </div>
    <!--<div class="btn-group">
        <button class="btn-primary">Edit</button>
        <button class="btn-primary">Cancel</button>
        <button class="btn-primary">New household</button>
       </div>-->
    </form>
